<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--skip actions which start with in lower case-->
    <add key="fileFilter" value ="*_SSD.xls*"/>
    <add key="defaultSheetName" value="Test" />
    <add key="skipTypes" value="C;!G" />
    <add key="skipActions" value="wait;handleajax;basicmode;closebrowserwithurl;comment;portal;attach;store;chkhelp;chkproperty;nodeexists" />
    <add key="outputDirName" value="output" />
    <add key="outputFilePrefix" value="output_" />
    <add key="colName0" value="steps" />
    <add key="colName1" value="verifications" />
  </appSettings>
</configuration>